.container{
background: rgb(192, 187, 187);
margin: 0 auto;
}

.projectone{
  border: 1px solid rgb(214, 37, 37);
  border-radius: 10px;
  margin: 50px  ;
 
}
.masterbox{
  background: white;
  padding-left: 50px;
}